<div class="col-xs-12">
  <h2 class="d-flex justify-content-center">Bonjour {{utilisateurs}} !</h2><br>
  <div class="row row-cols-5">
    <div class="col"></div><div class="col"></div>
    <div class="card col d-flex justify-content-center">
      <div class="card-header">Accès à la réserve</div>
      <div class="card-body"><button class="btn btn-primary d-flex justify-content-center"
                                     [disabled]="!empreinte" (click)="onEmpreinte()">Ouvrir la Réserve</button></div>
    </div>
  </div>
</div>
