<div class="card mb-5"style="width: 45rem;" >
  <img src="http://10.30.50.17260/axis-cgi/mjpg/video.cgi" class="card-img-top" alt="Flux video salle d'attente">
  <div class="card-body" style="background-color: lightgray;height: 4rem;">
    <h5 class="card-title text-center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-camera-video-fill" style="padding-right: 5px; padding-bottom:4px;" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
    </svg>Caméra salle d'attente</h5>
  </div>
</div>

